:root {
    box-sizing: border-box;
    --main-blue: blue;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--main-blue);
}

a:visited {
    color: var(--main-blue);
}

li {
    list-style-type: none;
}

.container {
    display: flex;
}

.nav {
    border: solid 2px olive;
    padding-right: 1rem;
}

.main {
background-color: darkgray;
}