:root {
  box-sizing: border-box;
  display: flex;
}

body {
  background-color: #dfdfdf;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a > img {
  height: 18rem;
  margin: 4px;
  border-radius: 7px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.8);
}

button {
background-color: #bdbdbd;
font-size: 2rem;
border-radius: 7px;
padding: 4px;
}

h1 {
  color: darkblue
}

