:root {
  box-sizing: border-box;
  --main-gray: #bdbdbd;
}

body {
  background-color: var(--main-gray);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a > img {
  height: 18rem;
  margin: 4px;
  border-radius: 7px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.8);
}

button {
  background-color: darkred;
  font-size: 2rem;
  border-radius: 7px;
  padding: 4px;
  color: var(--main-gray)
}

h1 {
  color: darkblue;
}
